.navbar-custom {
    background-color: #c09f80;
  }
  
  .navbar .container-fluid .collapse .btn {
    border-color: #76323f;
  }
  
  .navbar .container-fluid .collapse .btn:hover {
    background-color: #76323f;
    color: white;
  }
  
  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px; /* Height of the footer */
    background: #c09f80;
  }
  
  .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #76323f;
    color: white;
  }
  
  .dropdown{
    padding-left: 50px;
  }
  
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  